{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "wh6kc8c4dy8tt"
    },
    "info": {
        "title": "Riskscape API",
        "version": "1.0",
        "description": "",
        "license": {
            "identifier": "",
            "name": ""
        },
        "contact": {
            "name": "Riskscape Pty Ltd",
            "url": "https://riskscape.pro",
            "email": "info@riskscape.pro"
        }
    },
    "servers": [
        {
            "url": "https://services.cloud.riskscape.pro/api"
        }
    ],
    "security": [
        {
            "api_token": []
        }
    ],
    "tags": [
        {
            "name": "Addressing (v1)",
            "description": "Addressing operations"
        },
        {
            "name": "Addressing (v2)",
            "description": "Addressing operations"
        },
        {
            "name": "Amenities (v1)",
            "description": "Amenity operations"
        },
        {
            "name": "Area Queries (v1)",
            "description": "Area property query operations"
        },
        {
            "name": "Areas (v1)",
            "description": "Area operations"
        },
        {
            "name": "Deeds (v1)",
            "description": "Deed operations"
        },
        {
            "name": "Deeds (v2)",
            "description": "Deed operations"
        },
        {
            "name": "Definitions (v1)",
            "description": "Definition operations"
        },
        {
            "name": "Features (v1)",
            "description": "Feature operations"
        },
        {
            "name": "Market Financial Dimensions",
            "description": "MFD operations"
        },
        {
            "name": "Misc (v1)",
            "description": "Miscellaneous operations"
        },
        {
            "name": "Neighbourhoods (v1)",
            "description": "Neighbourhood operations"
        },
        {
            "name": "Properties (v1)",
            "description": "Property operations"
        },
        {
            "name": "Schemes (v1)",
            "description": "Scheme operations"
        },
        {
            "name": "Streets (v1)",
            "description": "Street operations"
        },
        {
            "name": "SubPlaces (v1)",
            "description": "SubPlace operations"
        },
        {
            "name": "Tokens (v1)",
            "description": "Token operations"
        }
    ],
    "paths": {
        "/addressing/v1/address": {
            "get": {
                "tags": [
                    "Addressing (v1)"
                ],
                "summary": "Get Address",
                "description": "Fetch an address by id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Address_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Address"
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "street": "Caley Street",
                                        "street_number": "285",
                                        "street_number_type": "street_number",
                                        "street_number_function": "main",
                                        "complex": null,
                                        "major_complex": null,
                                        "suburb": "Eldoraigne Ext 6",
                                        "subplace": "Eldoraigne Ext 6",
                                        "city_town": "Centurion",
                                        "municipality": "City of Tshwane",
                                        "district": "City of Tshwane",
                                        "province": "Gauteng",
                                        "province_code": "GP",
                                        "postal_code": "0157",
                                        "full_address": "285 Caley Street, Eldoraigne Ext 6, Centurion, City of Tshwane, Gauteng",
                                        "short_address": "285 Caley Street",
                                        "mapcode": "R0V.WC",
                                        "plus_code": "5G6C45V4+86",
                                        "position": {
                                            "lat": -25.856734,
                                            "lon": 28.15554
                                        },
                                        "subplace_id": "799059063-R0S.RT",
                                        "riskscape_suburb_id": "be200f34-5092-11ef-8ea5-ef9fb2854a82",
                                        "riskscape_suburb_name": "Eldoraigne"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "addressing-address",
                "x-stoplight": {
                    "id": "m4vfocssrppi3"
                },
                "deprecated": true
            },
            "parameters": []
        },
        "/addressing/v1/geocode": {
            "post": {
                "summary": "Geocode (Address Search)",
                "operationId": "addressing-geocode-v1",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Geocode"
                                }
                            }
                        }
                    }
                },
                "x-stoplight": {
                    "id": "v5v0jmr1s8okq"
                },
                "x-internal": false,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "query": "15 Main Road",
                                        "filters": {
                                            "provinces": [
                                                "GP",
                                                "WC"
                                            ],
                                            "categories": [
                                                "Street",
                                                "StreetAddress"
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "example": "1 main road"
                                    },
                                    "filters": {
                                        "type": "object",
                                        "properties": {
                                            "provinces": {
                                                "type": "array",
                                                "minItems": 1,
                                                "uniqueItems": true,
                                                "description": "only include results within these provinces",
                                                "items": {
                                                    "enum": [
                                                        "EC",
                                                        "FS",
                                                        "GP",
                                                        "KZN",
                                                        "LP",
                                                        "MP",
                                                        "NC",
                                                        "NW",
                                                        "WC"
                                                    ]
                                                }
                                            },
                                            "categories": {
                                                "type": [
                                                    "array",
                                                    "object"
                                                ],
                                                "minItems": 1,
                                                "uniqueItems": true,
                                                "description": "only include addresses having these categories / subcategories",
                                                "properties": {
                                                    "": {
                                                        "type": [
                                                            "string",
                                                            "object"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "query"
                                ]
                            },
                            "examples": {
                                "Example 1": {
                                    "value": {
                                        "query": "1 main road"
                                    }
                                },
                                "Example 2": {
                                    "value": {
                                        "query": "3 Fake Road",
                                        "filters": {
                                            "provinces": [
                                                "GP",
                                                "WC"
                                            ],
                                            "categories": [
                                                "StreetAddress"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Returns a list of address candidates that match search filters.\r\n\r\nPlease note that the **\"address_parts\"** field in the **\"attributes\"** section of the response is **deprecated**. Do not use or rely on these fields",
                "tags": [
                    "Addressing (v1)"
                ],
                "deprecated": true
            },
            "parameters": []
        },
        "/addressing/v2/address": {
            "get": {
                "tags": [
                    "Addressing (v2)"
                ],
                "summary": "Get Address",
                "description": "Fetch an address by id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Address_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Address_2"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "addressing-v2-address"
            }
        },
        "/addressing/v2/bulding-point": {
            "get": {
                "summary": "Building Point Lookup",
                "operationId": "addressing-v2-building-point",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Building-point"
                                }
                            }
                        }
                    }
                },
                "description": "",
                "tags": [
                    "Addressing (v2)"
                ]
            }
        },
        "/addressing/v2/geocode": {
            "get": {
                "summary": "Geocode (Address Search)",
                "operationId": "addressing-v2-geocode",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Geocode_2"
                                }
                            }
                        }
                    }
                },
                "description": "Returns a list of address candidates that match search filters.",
                "tags": [
                    "Addressing (v2)"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "q",
                        "description": "Search term",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "categories",
                        "description": "Comma separated list of categories"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "provinces",
                        "description": "Comma separated list of provinces"
                    }
                ]
            }
        },
        "/addressing/v2/reverse-geocode": {
            "get": {
                "summary": "Reverse Geocode",
                "operationId": "addressing-v2-reverse-geocode",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address_2"
                                }
                            }
                        }
                    }
                },
                "description": "",
                "tags": [
                    "Addressing (v2)"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Latlon"
                    }
                ]
            }
        },
        "/amenities/healthcare-facilities/search": {
            "get": {
                "tags": [
                    "Amenities (v1)"
                ],
                "summary": "Healthcare Facilities",
                "description": "Returns a paginated list of healthcare facilities that match filters.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Latlon_radius_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_page"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Healthcare-facilities"
                                        }
                                    }
                                },
                                "example": {
                                    "data": [
                                        {
                                            "name": "ADVANCED GROENKLOOF DAY HOSPITAL",
                                            "position": {
                                                "lat": -25.766143,
                                                "lon": 28.221804
                                            }
                                        },
                                        {
                                            "name": "AKASIA HOSPITAL",
                                            "position": {
                                                "lat": -25.672961,
                                                "lon": 28.107523
                                            }
                                        },
                                        {
                                            "name": "BOTSHILU PRIVATE HOSPITAL (SHOSHANGUVE)",
                                            "position": {
                                                "lat": -25.479902,
                                                "lon": 28.095042
                                            }
                                        },
                                        {
                                            "name": "BOUGAINVILLE PRIVATE HOSPITAL",
                                            "position": {
                                                "lat": -25.716239,
                                                "lon": 28.153674
                                            }
                                        },
                                        {
                                            "name": "BRONKHORSTSPRUIT HOSPITAL",
                                            "position": {
                                                "lat": -25.803901,
                                                "lon": 28.717416
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "amenities-healthcare"
            }
        },
        "/amenities/police-stations/search": {
            "get": {
                "tags": [
                    "Amenities (v1)"
                ],
                "summary": "Police Stations",
                "description": "Returns a paginated list of police stations that match filters.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Latlon_radius_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_page"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Police-stations"
                                        }
                                    }
                                },
                                "example": {
                                    "data": [
                                        {
                                            "name": "AKASIA",
                                            "position": {
                                                "lat": -25.62571,
                                                "lon": 28.09538
                                            }
                                        },
                                        {
                                            "name": "ATTERIDGEVILLE",
                                            "position": {
                                                "lat": -25.77462,
                                                "lon": 28.07173
                                            }
                                        },
                                        {
                                            "name": "BOSCHKOP",
                                            "position": {
                                                "lat": -25.81666,
                                                "lon": 28.40709
                                            }
                                        },
                                        {
                                            "name": "BRONKHORSTSPRUIT",
                                            "position": {
                                                "lat": -25.80898,
                                                "lon": 28.74566
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "amenities-police-stations"
            }
        },
        "/amenities/schools/search": {
            "get": {
                "tags": [
                    "Amenities (v1)"
                ],
                "summary": "Schools",
                "description": "Returns a paginated list of schools that match filters.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Latlon_radius_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_page"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Schools"
                                        }
                                    }
                                },
                                "example": {
                                    "data": [
                                        {
                                            "name": "CENTURION CHRISTIAN SCHOOL",
                                            "type": "Public",
                                            "phase": "Combined",
                                            "position": {
                                                "lat": -25.868851,
                                                "lon": 28.132043
                                            }
                                        },
                                        {
                                            "name": "EMPRO ACADEMY",
                                            "type": "Public",
                                            "phase": "Combined",
                                            "position": {
                                                "lat": -25.849604,
                                                "lon": 28.117101
                                            }
                                        },
                                        {
                                            "name": "LAERSKOOL WIERDAPARK",
                                            "type": "Public",
                                            "phase": "Primary",
                                            "position": {
                                                "lat": -25.854576,
                                                "lon": 28.141146
                                            }
                                        },
                                        {
                                            "name": "SPARK CENTURION",
                                            "type": "Private",
                                            "phase": "Primary",
                                            "position": {
                                                "lat": -25.860328,
                                                "lon": 28.134078
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "amenities-schools"
            }
        },
        "/amenities/shopping-centres/search": {
            "get": {
                "tags": [
                    "Amenities (v1)"
                ],
                "summary": "Shopping Centres",
                "description": "Returns a paginated list of shopping centres that match filters.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Latlon_radius_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_page"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "shopping_centres": {
                                            "$ref": "#/components/schemas/Shopping-centres"
                                        }
                                    }
                                },
                                "example": {
                                    "data": [
                                        {
                                            "name": "BP SHOP",
                                            "position": {
                                                "lat": -25.855127,
                                                "lon": 28.142194
                                            }
                                        },
                                        {
                                            "name": "CALTEX SHOP",
                                            "position": {
                                                "lat": -25.85624,
                                                "lon": 28.143541
                                            }
                                        },
                                        {
                                            "name": "ELDOWIER CENTRE",
                                            "position": {
                                                "lat": -25.858116,
                                                "lon": 28.142718
                                            }
                                        },
                                        {
                                            "name": "ELWIERDA CENTRE",
                                            "position": {
                                                "lat": -25.855354,
                                                "lon": 28.139592
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "amenities-shopping-centres"
            }
        },
        "/areas/search": {
            "get": {
                "tags": [
                    "Areas (v1)"
                ],
                "summary": "Search",
                "description": "Returns a paginated list of areas that match search filters.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Contains_point_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_page"
                    },
                    {
                        "$ref": "#/components/parameters/Pagination_per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "data": {
                                        "$ref": "#/components/schemas/Search"
                                    }
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "98a33256-206f-4e61-a09e-46f167450cc8",
                                            "name": "Area A",
                                            "updated_at": "2023-01-12 11:15:15"
                                        },
                                        {
                                            "id": "98a332d6-4c45-4d9b-87be-09652967afe3",
                                            "name": "Area B",
                                            "updated_at": "2023-01-12 11:15:15"
                                        },
                                        {
                                            "id": "98a59758-c042-45a8-b837-f4910bb77d47",
                                            "name": "Area C",
                                            "updated_at": "2023-01-12 11:15:15"
                                        },
                                        {
                                            "id": "98a5a44d-3d92-4eaa-ad39-deb406fa02a6",
                                            "name": "Area D",
                                            "updated_at": "2023-01-12 11:15:15"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "operationId": "areas-search",
                "x-internal": false
            }
        },
        "/areas/area": {
            "get": {
                "tags": [
                    "Areas (v1)"
                ],
                "summary": "Get Area",
                "description": "Fetch an area by id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Area"
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "id": "98984ff8-546e-4266-962b-e75cb6509dd7",
                                        "name": "New Area",
                                        "geojson": {
                                            "type": "MultiPolygon",
                                            "coordinates": [
                                                [
                                                    [
                                                        [
                                                            28.176884,
                                                            -25.85839
                                                        ],
                                                        [
                                                            28.176783,
                                                            -25.858265
                                                        ],
                                                        [
                                                            28.176664,
                                                            -25.858118
                                                        ],
                                                        [
                                                            28.176545,
                                                            -25.857955
                                                        ],
                                                        [
                                                            28.176359,
                                                            -25.857779
                                                        ],
                                                        [
                                                            28.175924,
                                                            -25.857384
                                                        ],
                                                        [
                                                            28.175715,
                                                            -25.857175
                                                        ],
                                                        [
                                                            28.175613,
                                                            -25.85705
                                                        ],
                                                        [
                                                            28.175562,
                                                            -25.856926
                                                        ],
                                                        [
                                                            28.175556,
                                                            -25.85683
                                                        ],
                                                        [
                                                            28.175627,
                                                            -25.856615
                                                        ],
                                                        [
                                                            28.174343,
                                                            -25.856337
                                                        ],
                                                        [
                                                            28.174408,
                                                            -25.856134
                                                        ],
                                                        [
                                                            28.174479,
                                                            -25.855932
                                                        ],
                                                        [
                                                            28.174554,
                                                            -25.855732
                                                        ],
                                                        [
                                                            28.174635,
                                                            -25.855533
                                                        ],
                                                        [
                                                            28.174721,
                                                            -25.855337
                                                        ],
                                                        [
                                                            28.174812,
                                                            -25.855144
                                                        ],
                                                        [
                                                            28.175257,
                                                            -25.854229
                                                        ],
                                                        [
                                                            28.175744,
                                                            -25.853354
                                                        ],
                                                        [
                                                            28.175665,
                                                            -25.853294
                                                        ],
                                                        [
                                                            28.175997,
                                                            -25.852722
                                                        ],
                                                        [
                                                            28.177426,
                                                            -25.850907
                                                        ],
                                                        [
                                                            28.178909,
                                                            -25.8515
                                                        ],
                                                        [
                                                            28.178731,
                                                            -25.852551
                                                        ],
                                                        [
                                                            28.178694,
                                                            -25.85299
                                                        ],
                                                        [
                                                            28.178678,
                                                            -25.853529
                                                        ],
                                                        [
                                                            28.178693,
                                                            -25.854116
                                                        ],
                                                        [
                                                            28.178709,
                                                            -25.854367
                                                        ],
                                                        [
                                                            28.17873,
                                                            -25.854618
                                                        ],
                                                        [
                                                            28.178758,
                                                            -25.854868
                                                        ],
                                                        [
                                                            28.178791,
                                                            -25.855117
                                                        ],
                                                        [
                                                            28.178829,
                                                            -25.855365
                                                        ],
                                                        [
                                                            28.178874,
                                                            -25.855613
                                                        ],
                                                        [
                                                            28.178974,
                                                            -25.856084
                                                        ],
                                                        [
                                                            28.179052,
                                                            -25.856347
                                                        ],
                                                        [
                                                            28.179136,
                                                            -25.856608
                                                        ],
                                                        [
                                                            28.179226,
                                                            -25.856867
                                                        ],
                                                        [
                                                            28.179324,
                                                            -25.857123
                                                        ],
                                                        [
                                                            28.179428,
                                                            -25.857377
                                                        ],
                                                        [
                                                            28.179538,
                                                            -25.857628
                                                        ],
                                                        [
                                                            28.179655,
                                                            -25.857876
                                                        ],
                                                        [
                                                            28.179428,
                                                            -25.857985
                                                        ],
                                                        [
                                                            28.179094,
                                                            -25.858147
                                                        ],
                                                        [
                                                            28.178184,
                                                            -25.858663
                                                        ],
                                                        [
                                                            28.177988,
                                                            -25.858774
                                                        ],
                                                        [
                                                            28.177397,
                                                            -25.859104
                                                        ],
                                                        [
                                                            28.177344,
                                                            -25.859165
                                                        ],
                                                        [
                                                            28.17732,
                                                            -25.859126
                                                        ],
                                                        [
                                                            28.177083,
                                                            -25.858739
                                                        ],
                                                        [
                                                            28.176962,
                                                            -25.858535
                                                        ],
                                                        [
                                                            28.176906,
                                                            -25.858431
                                                        ],
                                                        [
                                                            28.176884,
                                                            -25.85839
                                                        ]
                                                    ]
                                                ]
                                            ]
                                        },
                                        "updated_at": "2023-02-10 15:24:01"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "areas-area-get"
            },
            "post": {
                "tags": [
                    "Areas (v1)"
                ],
                "summary": "Create Area",
                "description": "Create a new area.",
                "requestBody": {
                    "$ref": "#/components/requestBodies/Store-area"
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Area"
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "$ref": "#/paths/~1areas~1area/get/responses/200/content/application~1json/example/data"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "areas-area-post"
            },
            "patch": {
                "tags": [
                    "Areas (v1)"
                ],
                "summary": "Update Area",
                "description": "Update an area by id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Store-area"
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Area"
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "$ref": "#/paths/~1areas~1area/get/responses/200/content/application~1json/example/data"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "areas-area-patch"
            },
            "delete": {
                "tags": [
                    "Areas (v1)"
                ],
                "summary": "Delete Area",
                "description": "Delete an area by id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Area_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "operationId": "areas-area-delete"
            }
        },
        "/area-queries": {
            "post": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Create Query ID",
                "description": "Generate a query ID that corresponds to the properties located within a designated region or group of streets. Property count within the area must not exceed 50,000",
                "parameters": [
                    {
                        "name": "area_id",
                        "description": "Riskscape area id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street_id",
                        "description": "Comma separated list of street id's",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Store-query"
                                },
                                "example": {
                                    "data": {
                                        "query_id": "98a10f21-9ad7-418f-9c8b-e4111a2f3431"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-store"
            }
        },
        "/area-queries/bond-holders": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Bond Holders",
                "description": "Returns a distribution of bond holders for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Bond-holders"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Bond-holders"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": [
                                            {
                                                "label": "ABSA",
                                                "frequency": 340
                                            },
                                            {
                                                "label": "FIRSTRAND",
                                                "frequency": 352
                                            },
                                            {
                                                "label": "INVESTEC",
                                                "frequency": 81
                                            },
                                            {
                                                "label": "NEDBANK",
                                                "frequency": 134
                                            },
                                            {
                                                "label": "OTHER",
                                                "frequency": 44
                                            },
                                            {
                                                "label": "SA HOME LOANS",
                                                "frequency": 82
                                            },
                                            {
                                                "label": "STANDARD BANK",
                                                "frequency": 319
                                            }
                                        ],
                                        "sectional_title": [
                                            {
                                                "label": "ABSA",
                                                "frequency": 136
                                            },
                                            {
                                                "label": "FIRSTRAND",
                                                "frequency": 101
                                            },
                                            {
                                                "label": "INVESTEC",
                                                "frequency": 23
                                            },
                                            {
                                                "label": "NEDBANK",
                                                "frequency": 35
                                            },
                                            {
                                                "label": "OTHER",
                                                "frequency": 6
                                            },
                                            {
                                                "label": "SA HOME LOANS",
                                                "frequency": 17
                                            },
                                            {
                                                "label": "STANDARD BANK",
                                                "frequency": 82
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-bond-holders"
            }
        },
        "/area-queries/building-sizes": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Building Sizes",
                "description": "Returns a distribution of property building sizes for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Building-sizes"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Building-sizes"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": {
                                            "median": 326,
                                            "average": 341,
                                            "distribution": [
                                                {
                                                    "bucket": 5,
                                                    "minimum": 0,
                                                    "maximum": 150,
                                                    "frequency": 22
                                                },
                                                {
                                                    "bucket": 6,
                                                    "minimum": 150,
                                                    "maximum": 175,
                                                    "frequency": 17
                                                },
                                                {
                                                    "bucket": 7,
                                                    "minimum": 175,
                                                    "maximum": 200,
                                                    "frequency": 37
                                                },
                                                {
                                                    "bucket": 8,
                                                    "minimum": 200,
                                                    "maximum": 225,
                                                    "frequency": 80
                                                }
                                            ]
                                        },
                                        "sectional_title": {
                                            "median": 114,
                                            "average": 197,
                                            "distribution": [
                                                {
                                                    "bucket": 1,
                                                    "min": 0,
                                                    "max": 50,
                                                    "minimum": 0,
                                                    "maximum": 50,
                                                    "frequency": 58
                                                },
                                                {
                                                    "bucket": 2,
                                                    "minimum": 50,
                                                    "maximum": 75,
                                                    "frequency": 77
                                                },
                                                {
                                                    "bucket": 3,
                                                    "min": 75,
                                                    "max": 100,
                                                    "minimum": 75,
                                                    "maximum": 100,
                                                    "frequency": 305
                                                },
                                                {
                                                    "bucket": 4,
                                                    "minimum": 100,
                                                    "maximum": 125,
                                                    "frequency": 340
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-building-sizes"
            }
        },
        "/area-queries/buyer-ages": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Buyer Ages",
                "description": "Returns a distribution of recent buyer ages for an area. (last 36 months)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": {
                                            "average": 40,
                                            "distribution": [
                                                {
                                                    "minimum": 18,
                                                    "maximum": 35,
                                                    "frequency": 784
                                                },
                                                {
                                                    "minimum": 36,
                                                    "maximum": 49,
                                                    "frequency": 1053
                                                },
                                                {
                                                    "minimum": 50,
                                                    "maximum": 65,
                                                    "frequency": 313
                                                },
                                                {
                                                    "minimum": 66,
                                                    "maximum": null,
                                                    "frequency": 47
                                                }
                                            ]
                                        },
                                        "sectional_title": {
                                            "average": 44,
                                            "distribution": [
                                                {
                                                    "minimum": 18,
                                                    "maximum": 35,
                                                    "frequency": 243
                                                },
                                                {
                                                    "minimum": 36,
                                                    "maximum": 49,
                                                    "frequency": 301
                                                },
                                                {
                                                    "minimum": 50,
                                                    "maximum": 65,
                                                    "frequency": 232
                                                },
                                                {
                                                    "minimum": 66,
                                                    "maximum": null,
                                                    "frequency": 46
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-buyer-ages"
            }
        },
        "/area-queries/house-price-classifications": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "House Price Classifications",
                "description": "",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/House-price-classifications"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/House-price-classifications"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": [
                                            {
                                                "label": "Entry market",
                                                "frequency": 3
                                            },
                                            {
                                                "label": "Affordable market",
                                                "frequency": 18
                                            },
                                            {
                                                "label": "Conventional market",
                                                "frequency": 1323
                                            },
                                            {
                                                "label": "High-end market",
                                                "frequency": 267
                                            },
                                            {
                                                "label": "Luxury market",
                                                "frequency": 23
                                            },
                                            {
                                                "label": "Upper end of the luxury market",
                                                "frequency": 16
                                            }
                                        ],
                                        "sectional_title": [
                                            {
                                                "label": "Entry market",
                                                "frequency": 7
                                            },
                                            {
                                                "label": "Affordable market",
                                                "frequency": 810
                                            },
                                            {
                                                "label": "Conventional market",
                                                "frequency": 271
                                            },
                                            {
                                                "label": "High-end market",
                                                "frequency": 7
                                            },
                                            {
                                                "label": "Luxury market",
                                                "frequency": 9
                                            },
                                            {
                                                "label": "Upper end of the luxury market",
                                                "frequency": 11
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-house-price-classifications"
            }
        },
        "/area-queries/owner-ages": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Owner Ages",
                "description": "Returns a distribution of owner ages for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "$ref": "#/paths/~1area-queries~1buyer-ages/get/responses/200/content/application~1json/example/data"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-owner-ages"
            }
        },
        "/area-queries/owner-types": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Owner Types",
                "description": "Returns a distribution of owner types for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Owner-types"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Owner-types"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": [
                                            {
                                                "label": "Person",
                                                "frequency": 2190
                                            },
                                            {
                                                "label": "Organisation",
                                                "frequency": 297
                                            }
                                        ],
                                        "sectional_title": [
                                            {
                                                "label": "Organisation",
                                                "frequency": 153
                                            },
                                            {
                                                "label": "Person",
                                                "frequency": 806
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-owner-types"
            }
        },
        "/area-queries/property-types": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Property Types",
                "description": "Returns a distribution of property types in the area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Property-types"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Property-types"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": [
                                            {
                                                "property_type": "E",
                                                "property_type_name": "Full Title",
                                                "count": 2487
                                            }
                                        ],
                                        "sectional_title": [
                                            {
                                                "property_type": "U",
                                                "property_type_name": "Sectional Title",
                                                "count": 959
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-property-types"
            }
        },
        "/area-queries/registration-ages": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Registration Ages",
                "description": "Returns a distribution of property registration ages for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Registration-ages"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Registration-ages"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": {
                                            "average": 195,
                                            "distribution": [
                                                {
                                                    "minimum": 0,
                                                    "maximum": 5,
                                                    "frequency": 0
                                                },
                                                {
                                                    "minimum": 6,
                                                    "maximum": 11,
                                                    "frequency": 37
                                                },
                                                {
                                                    "minimum": 12,
                                                    "maximum": 35,
                                                    "frequency": 297
                                                },
                                                {
                                                    "minimum": 36,
                                                    "maximum": 59,
                                                    "frequency": 214
                                                },
                                                {
                                                    "minimum": 60,
                                                    "maximum": 95,
                                                    "frequency": 290
                                                },
                                                {
                                                    "minimum": 96,
                                                    "maximum": null,
                                                    "frequency": 1649
                                                }
                                            ]
                                        },
                                        "sectional_title": {
                                            "average": 148,
                                            "distribution": [
                                                {
                                                    "minimum": 0,
                                                    "maximum": 5,
                                                    "frequency": 0
                                                },
                                                {
                                                    "minimum": 6,
                                                    "maximum": 11,
                                                    "frequency": 19
                                                },
                                                {
                                                    "minimum": 12,
                                                    "maximum": 35,
                                                    "frequency": 119
                                                },
                                                {
                                                    "minimum": 36,
                                                    "maximum": 59,
                                                    "frequency": 92
                                                },
                                                {
                                                    "minimum": 60,
                                                    "maximum": 95,
                                                    "frequency": 138
                                                },
                                                {
                                                    "minimum": 96,
                                                    "maximum": null,
                                                    "frequency": 591
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-registration-ages"
            }
        },
        "/area-queries/sales": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Sales",
                "description": "Returns sales information for properties according to filters (last 25)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/Latlon_radius_optional"
                    },
                    {
                        "name": "suburb_id",
                        "description": "Filter on suburb id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Building_size_min"
                    },
                    {
                        "$ref": "#/components/parameters/Building_size_max"
                    },
                    {
                        "$ref": "#/components/parameters/Owner_age_min"
                    },
                    {
                        "$ref": "#/components/parameters/Owner_age_max"
                    },
                    {
                        "name": "property_type",
                        "description": "Filter on property type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "E",
                                "F",
                                "H",
                                "U"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Property_type_category"
                    },
                    {
                        "$ref": "#/components/parameters/Registration_age_min"
                    },
                    {
                        "$ref": "#/components/parameters/Registration_age_max"
                    },
                    {
                        "$ref": "#/components/parameters/Sell_price_min"
                    },
                    {
                        "$ref": "#/components/parameters/Sell_price_max"
                    },
                    {
                        "$ref": "#/components/parameters/Sell_year_min"
                    },
                    {
                        "$ref": "#/components/parameters/Sell_year_max"
                    },
                    {
                        "$ref": "#/components/parameters/Stand_size_min"
                    },
                    {
                        "$ref": "#/components/parameters/Stand_size_max"
                    },
                    {
                        "$ref": "#/components/parameters/Valuation_min"
                    },
                    {
                        "$ref": "#/components/parameters/Valuation_max"
                    },
                    {
                        "$ref": "#/components/parameters/Is_formal_2"
                    },
                    {
                        "$ref": "#/components/parameters/Is_vacant_2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Sales"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-sales",
                "x-internal": false
            }
        },
        "/area-queries/seller-ages": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Seller Ages",
                "description": "Returns a distribution of recent seller ages for an area. (last 36 months)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Owner-ages"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "$ref": "#/paths/~1area-queries~1buyer-ages/get/responses/200/content/application~1json/example/data"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-seller-ages"
            }
        },
        "/area-queries/stand-sizes": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Stand Sizes",
                "description": "Returns a distribution of property stand sizes for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "full_title": {
                                                    "$ref": "#/components/schemas/Stand-sizes"
                                                },
                                                "sectional_title": {
                                                    "$ref": "#/components/schemas/Stand-sizes"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "data": {
                                        "full_title": {
                                            "median": 1000,
                                            "average": 1016,
                                            "distribution": [
                                                {
                                                    "bucket": 1,
                                                    "minimum": 900,
                                                    "maximum": 1000,
                                                    "frequency": 4
                                                },
                                                {
                                                    "bucket": 2,
                                                    "minimum": 1000,
                                                    "maximum": 1100,
                                                    "frequency": 30
                                                },
                                                {
                                                    "bucket": 3,
                                                    "minimum": 1100,
                                                    "maximum": 6000,
                                                    "frequency": 3
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "area-queries-stand-sizes"
            }
        },
        "/area-queries/valuations": {
            "get": {
                "tags": [
                    "Area Queries (v1)"
                ],
                "summary": "Valuations",
                "description": "Returns a distribution of property valuations for an area.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Query_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
[...]
